h1 {color: rgb(0, 0, 0);
font-size: 30px;
margin-bottom: 10 px; 
text-align: center;}
body {margin: 0;
    padding:20px;
background-color: #346cc5;
color: white;
font-family: Arial, Helvetica, sans-serif;
}