h1 {color: rgb(0, 0, 0);
font-size: 30px;
margin-bottom: 10 px; 
text-align: center;}
body {margin: 0;
    padding:20px;
background-color: #346cc5;
color: white;
font-family: Arial, Helvetica, sans-serif;
}
.main-nav ul {
<<<<<<< HEAD
display: flex;
gap:  16px;
=======

display: flex; /

>>>>>>> c2d1302d84e16301404109fbec2e732974a84b68
padding: 0; 
margin: 12px 0; 
list-style: none; 
justify-content: center;
}
.main-nav a {
<<<<<<< HEAD
text-decoration: none;
color: #bfc9d6;
padding: 6px 10px;
border-radius: 6px
}.main-nav a:hover {
background: rgba(255,255,255,0.04);
color: #ffcc00;
}

=======
text-decoration: none; 
color: #bfc9d6; 
padding: 6px 10px; 
border-radius: 6px; 
}
.main-nav a:hover {
background: rgba(255,255,255,0.04); 
color: #ffc400; 
}
>>>>>>> c2d1302d84e16301404109fbec2e732974a84b68
