h1 {color: rgb(0, 0, 0);
font-size: 30px;
margin-bottom: 10 px; 
text-align: center;}
body {margin: 0;
    padding:20px;
background-color: #346cc5;
background: url("vert-fond-football_1035-1598.avif") no-repeat center center fixed;
 background-size: cover;
color: white;
font-family: Arial, Helvetica, sans-serif;
}
.main-nav ul {
  display: flex;            
  gap: 16px;               
  padding: 0;
  margin: 12px 0;
  list-style: none;
  justify-content: center; 
}

.main-nav a {
  text-decoration: none;    
  color: #bfc9d6;
  padding: 6px 10px;
  border-radius: 6px;
}

.main-nav a:hover {
  background: rgba(255,255,255,0.04);
  color: #ffcc00;
}

.main-nav a.active {
  color: #ffcc00;
  background: rgba(255,255,255,0.03);
  border-radius: 6px;
  padding: 6px 8px;
}


.page {
  display: none;            
  padding: 12px;
  margin-top: 18px;
  background: rgba(255,255,255,0.02);
  border-radius: 8px;
}

.page.active {
  display: block;           
}


.team-list {
  list-style: none;       
  padding: 0;
}

.team-list li {
  padding: 8px 12px;
  margin: 6px 0;
  background: rgba(255,255,255,0.02);
  border-radius: 6px;
  cursor: pointer;        
  transition: background 0.2s;
}

.team-list li:hover {
  background: rgba(255,255,255,0.05);
}

.logo {
  width: 100PX;
  display: block;
  margin: 0 auto 10px;
  height: 100px;           
  border-radius: 100%;
  object-fit: cover;
}

/* Conteneur global */
.champ-select-big {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

/* Titre */
.cs-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Grille 2 colonnes */
.champ-grid-big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* Card */
.champ-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
}

/* Effet survol */
.champ-card:hover {
    transform: translateY(-4px);
    border-color: #007bff;
}

/* Logo */
.champ-logo {
    width: 200px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 12px;
}

/* Nom du championnat */
.champ-name {
    font-size: 20px;
    font-weight: 600;
    color: #1e11ce;
}